/* custom styles */
body {
    background-color: #F5F8FA;
  }

.show-box {
    border: 1px solid red;
}

.header {
    background-color: #2F92CA;
}
nav form#search {
    padding: 0.5em;
}

#nav-options {
    margin: 0.5em;
}
  
#nav-options img {
    max-height: 2.3em;
    cursor: pointer;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

#nav-options img:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

#tweet {
    margin: 0.5em;
}

.navbar-nav .badge {
    color: #2F92CA;
    background-color: #FFF;
    font-size: 10px;
    padding: 0.27rem 0.55rem 0.2rem 0.4rem;
    position: relative;
    left:10px;
    top: -10px;
    z-index: 99;
    border: 0.2rem solid #2F92CA;
}

.card-profile {
    width: 261px;
}

.card-profile > .card-img-top {
    height: 163px;
    overflow: hidden;
}
.card-profile > .card-body h5 {
    font-size: 18px;
}

.card-profile > .card-body .card-title small {
    font-size: 13.5px;
    font-weight: normal;
    line-height: 1;
    color: #777;
    display: block;
}

.card-profile > .card-body img.card-img {
    top: 50%;
    margin-top: -36px;
    width: 72px;
    border: 3px solid #FFF;
    border-radius: 0.4rem;
    float: left;
    position: relative;
    z-index: 99;
}

.card-profile > .card-body ul a:hover {
    text-decoration: none;
}
 
.card-profile > .card-body ul .profile-stats {
    color: #777;
    display: block;
    text-transform: uppercase;
    font-size: 0.63em;
}
  
.card-profile > .card-body ul .profile-value {
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    color: #2F92CA;
}

.card-photos {
    width: 261px;
    margin-bottom: 10px;
}

.card-photos .card-header {
    color: #4e5665;
    font-weight: bold;
}

#profile-photo {
    margin-top: 20px;
}
  
#profile-photo ul {
    margin: 0;
  }
  
#profile-photo li {
    width: 45%;
    padding-left: 5px;
}

.card-breadcrumbs {
    height: 40px;
}

.card-breadcrumbs > .card-body {
    padding-top: 7px;
    padding-left: 15px;
    word-spacing: 5px;
}

.card-breadcrumbs > .breadcrumb-link {
    font-size: 10px;
    line-height: 1.42857143;
}

.card-tweet > .card-header {
    background-color: #EBF4FB;
}

.btn-tweet {
    border: 1px solid #ced4da; 
}